pkgbase = bssid-tools
	pkgdesc = Wireless tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/bssid-tools
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = iw-tools
	depends = libcrash-bash
	depends = android-wifi-utils
	source = bssid-tools-7b8f1325b7f8c1f5991f9ee496fc5e51c22ee625.zip::https://github.com/themartiancompany/bssid-tools/archive/7b8f1325b7f8c1f5991f9ee496fc5e51c22ee625.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	validpgpkeys = DD6732B02E6C88E9E27E2E0D5FC6652B9D9A6C01
	sha256sums = 299b399b0f2c4e52b25d2c3cc1a613024e2e46ec45cba0855ba9e7f97e81cc3d

pkgname = bssid-tools
